
body {
  text-align: center;
  font-size: 20px;
  background-color: #6a5acd;
  margin-left:auto;

}
ul{
  list-style-position: inside;

}
#body {
  background-color: silver;
  border-style: solid;
  border-color: silver;
  border-radius: 15px;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

#image {
  background-color: white;
  margin-right: 60px;
  margin-left: 60px;
}
#link {
  color:orange;
}
#link:hover {
  font-size:150%;
  color:yellow;
}
